.callkit-component-icon{
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
}
.icon-spin {
	animation-name: rotate;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes rotate {
	from {
	  transform: rotate(0)
	}
	to {
	  transform: rotate(360deg)
	}
}