h2{
    color: red
}

:root{
    /* primary */
    --primary-button-text-color: #fff;
    --primary-button-fill-color: rgb(26 115 232);
    --primary-button-fill-color-active: rgb(25 103 210);
  
    /* danger */
    --error-button-fill-color: #F6324D;
    --error-button-fill-color-active: #d9363e;
  
    /* right */ 
    --right-button-fill-color: #00CE76;
    --right-button-fill-color-active: #06a05d;
  
    /* default */ 
    --default-button-fill-color: rgba(255,255,255,0.2);
    --default-button-fill-color-active: rgba(206, 206, 200, 0.2);
  }
  
  .display-none {
    display: none !important;
  }
    
    .App {
        text-align: center;
      }
      
      .App-logo {
        height: 40vmin;
        pointer-events: none;
      }
      
      @media (prefers-reduced-motion: no-preference) {
        .App-logo {
          animation: App-logo-spin infinite 20s linear;
        }
      }
      
      .App-header {
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
      }
      
      .App-link {
        color: #61dafb;
      }
      
      @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      